.section {
  padding-bottom: 186px;

  &[data-mobile='true'] {
    padding-bottom: 60px;
  }
}

.container {
  display: grid;

  gap: 120px;

  grid-template-columns: repeat(2, 1fr);

  padding-top: 300px;
  padding-bottom: 18px;

  &[data-mobile='true'] {
    grid-template-columns: 1fr;

    padding-top: 100px;

    gap: 30px;
  }
}

.left {
  display: flex;

  flex-direction: column;
}

.title {
  max-width: 400px;
}

.description {
  margin: 66px auto auto;

  max-width: 400px;

  &[data-mobile='true'] {
    margin: 20px 0;
  }
}

.list {
  display: grid;

  width: 100%;

  gap: 64px;

  margin-top: auto;
  margin-bottom: 10px;

  &[data-mobile='true'] {
    margin-top: 34px;
    margin-bottom: 0;
  }
}

.item {
  display: grid;
  
  grid-template-columns: 48px 189px 1fr;

  gap: 20px;

  &[data-mobile='true'] {
    grid-template-columns: 32px 1fr;

    gap: 30px;
  }

  &Info {
    display: grid;

    gap: 8px;
  }

  &Left {
    display: flex;
  }

  &Description {
    max-width: 400px;
  }
}
