.section {
  display: grid;

  gap: 120px;

  grid-template-columns: repeat(2, 1fr);

  padding-top: 300px;
  padding-bottom: 18px;

  &[data-mobile='true'] {
    grid-template-columns: 1fr;

    padding-top: 100px;

    gap: 30px;
  }
}

.left {
  display: flex;

  flex-direction: column;
}

.right {
  &Info {
    display: flex;

    align-items: center;

    margin-top: 36px;
    
    &>:first-child {
      margin-right: 7px;
    }

    &>:last-child {
      margin-left: 7px;
    }
  }

  &Text {
    color: $gray-medium-color;

    margin-bottom: 7px;
    
    white-space: nowrap;
  }
}

.title {
  max-width: 400px;
}

.description {
  margin: 66px auto auto;

  &[data-mobile='true'] {
    margin: 20px 0;
  }

  max-width: 400px;
}

.image {
  width: 100%;
}

.otherText {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $gray-medium-color;
  line-height: 0.1em;
  margin: 7px 0 14px;

  span {
    padding: 0 7px;

    background: $white-color;
    color: $gray-medium-color;
  }
}

.list {
  display: grid;

  width: 100%;

  gap: 64px;

  margin-top: auto;
  margin-bottom: 10px;

  &[data-mobile='true'] {
    margin-top: 34px;
    margin-bottom: 0;
  }
}

.item {
  display: grid;
  
  grid-template-columns: 48px 189px 1fr;

  gap: 20px;

  &[data-mobile='true'] {
    grid-template-columns: 32px 1fr;

    gap: 30px;
  }

  &Info {
    display: grid;

    gap: 8px;
  }

  &Left {
    display: flex;
  }

  &Description {
    max-width: 400px;
  }
}
