.section {
  padding-top: 180px;

  &[data-mobile='true'] {
    padding-top: 58px;
  }
}

.list {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 26px;

  margin-top: 88px;

  &[data-mobile='true'] {
    grid-template-columns: 1fr;

    margin-top: 44px;
  }
}

.separate {
  margin: 18px 0;

  padding: 0;
  height: 0;

  border-top: $border-gray;
}

.item {
  &Description {
    max-width: 300px;
  }

  &Title {
    margin-top: 66px;

    &[data-mobile='true'] {
      margin-top: 30px;
    }
  }
}
