.container {
  display: flex;

  align-items: center;

  margin-top: 36px;
    
  &>:first-child {
    margin-right: 7px;
  }

  &>:last-child {
    margin-left: 7px;
  }
}

.otherText {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $gray-medium-color;
  line-height: 0.1em;
  margin: 7px 0 14px;

  span {
    padding: 0 7px;

    background: $white-color;
    color: $gray-medium-color;
  }
}

.text {
  color: $gray-medium-color;

  margin-bottom: 7px;
    
  white-space: nowrap;
}
