.wrapper {
  display: flex;
  position: relative;
}

.section {
  display: flex;
  position: relative;

  justify-items: flex-end;

  padding-top: 78px;
  padding-bottom: 114px;
  margin-left: auto;

  overflow: hidden;

  &[data-mobile='true'] {
    display: flex;

    padding-left: 16px;
    padding-top: 39px;
    margin-left: 0;

    flex-direction: column;
  }
}

.image {
  margin-left: 138px;

  z-index: 1;

  &[data-mobile='true'] {
    margin-left: auto;
    margin-bottom: 20px;
  }
}

.information {
  display: flex;
  position: absolute;

  top: 0;

  right: 0;

  position: absolute;

  grid-row: 1 / 1;
  grid-column: 1 / 1;

  padding-left: 16px;
  padding-right: 16px;

  padding-top: 78px;

  &[data-mobile='true'] {
    display: grid;
    position: relative;

    gap: 20px;

    padding: 0;
  }
}

.title {
  width: 100%;
  max-width: 520px;

  margin-right: 86px;
}

.fon {
  position: absolute;
  top: 0;

  height: 200px;
  width: 100%;

  background-color: $gray-light-color;
}
