.wrapper {
  position: relative;
}

.section {
  display: grid;

  justify-items: flex-end;

  padding-top: 78px;
  padding-bottom: 114px;

  overflow: hidden;

  &[data-mobile='true'] {
    display: flex;

    padding-left: 16px;
    padding-top: 39px;

    flex-direction: column;
  }
}

.image {
  margin-left: auto;
  
  grid-row: 1 / 1;
  grid-column: 1 / 1;

  z-index: 1;
}

.information {
  display: flex;

  grid-row: 1 / 1;
  grid-column: 1 / 1;

  padding-left: 16px;
  padding-right: 16px;

  &[data-mobile='true'] {
    display: grid;

    gap: 20px;

    padding: 0;
  }
}

.title {
  width: 100%;
  max-width: 520px;

  margin-right: 86px;
}

.fon {
  position: absolute;
  top: 0;

  height: 200px;
  width: 100%;

  background-color: $gray-light-color;
}
