:root {
  --tablet: #{$tablet};

  --black-color: #{$black-color};
  --pink-color: #{$pink-color};
  --gray-medium-color: #{$gray-medium-color};
}

body {
  font-family: $font-name;
  font-weight: $font-weight-medium;

  max-width: $max-width;

  background-color: $white-color;

  margin: auto;

  overflow-x: hidden;
}

ul {
  list-style: none;

  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;

  color: $pink-color;
}
